.main {
  background-image: url('../../../img/picth.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  position: relative;
  z-index: 0;
  .scoreBoard {
    background-image: url('../../../img/score-board.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 65px;
    background-size: cover;
    background-position: top;
    margin: 0 auto;
    color: white;
    font-size: small;
    text-align: center;
    padding-top: 20px;
    position: relative;
    z-index: 1;
  }
  .team {
    max-width: 150px;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .result {
    max-width: 150px;
    margin: 0 auto;
    overflow-x: hidden;
  }
}
