$inputColor:rgb(41, 177, 86);
.main{
    text-align: center;
    // background-color: $mainColor;
    // border:2px solid green;
    height:200px;
    button{
        margin-top: 5%;
        font-weight: bolder;

    }
    input{
        border:5px ridge $inputColor
    }

}
