$mainColor:rgb(163,252,192);
.main{
    text-align: center;
    // background-color: $mainColor;
    // border:2px solid green;
    height:200px;
    button{
        margin-top: 5%;
        font-weight: bolder;

    }

}
