
.main{
    height: 410px;
    background-image: url('../../../img/notebook-trasp.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    position: relative;
    ol{
        margin:0;
        position: absolute;
        top:20%;
        padding-left:17%;
        width:68%;
        height:75%;
        overflow-y:scroll;
        overflow-x: hidden;
    }

}
