
.main{
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    img{
        height:50px;
    }

}
.RF{
    left:200px;
    top:50px
}
.LF{
    left:50px;
    top:50px;
}
.LD{
    left:50px;
    top:250px;
}
.RD{
    left:200px;
    top:250px;
}
.GK{
    top:350px;
    left:122px
}
