.main {
  width: 120px;
  display: inline-block;
  position: absolute;
  text-align: center;
  font-weight:bold;
  font-family: Georgia, 'Times New Roman', Times, serif;

  img {
    height: 50px;
  }
  .name{
    width:120px;
    overflow-x:hidden;
    text-align: center;
  }
}
.RF {
  left: 160px;
  top: 70px;
}
.LF {
  left: 20px;
  top: 70px;
}
.LD {
  left: 20px;
  top: 250px;
}
.RD {
  left: 160px;
  top: 250px;
}
.GK {
  top: 350px;
  left: 90px;
}
