$backgroundColor: rgba(152, 185, 20, 0.61);
.main {
  text-align: center;
  width: 65px;
  .name {
    display: inline-block;
    font-weight: bolder;
    background-color: $backgroundColor;
    border-radius: 20%;
  }
  .goals {
    font-size: larger;
    font-weight: bolder;
    background-color: $backgroundColor;
  }
}
