$borderColor: rgb(41, 177, 86);
$backgroundColor: rgb(194, 188, 188);

.wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: $backgroundColor;
  overflow: hidden;
}
.main {
  display: flex;
  background-image: url('./img/grass-PNG.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 620px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px ridge $borderColor;
}
@media screen and (max-device-width: 650px) {
  .main {
    display:block;
    width: 300px;
    height: 100%;
    position: static;
    transform: none;
    overflow-y: scroll;
    overflow-x:hidden;
    margin: 0 auto;
  }
}
