$subColor:rgb(189, 58, 58);
$selectedColor:rgb(66, 153, 54);
.main {
  margin: 5px;
  .name {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:170px;
    margin-bottom: 5px;
  }
  form{
     display: inline-block;
  }
input{
  width:30px;
}

.BTN1{
margin: 0 5px;
font-weight: bold;
}
.BTN2 {
  font-weight: bold;
}
.selected {
  color:$selectedColor;
}
.sub {
  color:$subColor;
}
.labelgoal {
  display:inline-block;
  margin-left:5px;
}
.selectedform{
  display:flex;
  justify-content: space-between;
}
.positionselected {
  width:70px;
  display:inline-block;
}
}
.selected {
  color:$selectedColor;
}
.sub {
  color:$subColor;
}
