$subColor:rgb(189, 58, 58);
$selectedColor:rgb(66, 153, 54);
.main {
  margin: 5px;
  span {
    font-weight: bold;
  }
  form{
    width:200px;
  }
  input{
    width:30px;

  }
  label{
    padding-left: 5px;
  }


}
.selected {
  color:$selectedColor;
}
.sub {
  color:$subColor;
}
.nameSelected {
  display:flex;
  justify-content: space-between;

}
.positionSelected{
  width:70px;
  text-align: left;
}
